<%= stylesheet_link_tag "scaffolds" %>

<div id="adm-panel">
  <nav class="dados-variaveis">
    <ul>
      <li><a href="/admin/index">Home</a></li>
      <li><a href="/drivers">Simulações</a></li>
      <li><a href="/fuels">Combustível</a></li>
      <li><a href="/consts">Manutenção</a></li>
      <li><a href="/rents">Aluguel</a></li>
      <li><a href="/cities">Cidades</a></li>
      <li class="login-infos">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>