<%= render "admin/header" %>

<div class="content">
  <h1>Simulador de ganhos 99 pop</h1>

  <p class="text-home">Veja as simulações feitas pelos usuários e modifique as informações de combustível, manutenção, aluguel e acrescente ou edite cidades caso seja necessário.</p>
</div>
