<%= form_with(model: const, local: true) do |form| %>
  <% if const.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(const.errors.count, "error") %> prohibited this const from being saved:</h2>

      <ul>
      <% const.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ipva_dpvat_licenciamento, "Ipva/Dpvat/Licenciamento" %>
    <%= form.text_field :ipva_dpvat_licenciamento %>
  </div>

  <div class="field">
    <%= form.label :manutencao, "Manutenção" %>
    <%= form.text_field :manutencao %>
  </div>

  <div class="field">
    <%= form.label :depreciacao, "Depreciação" %>
    <%= form.text_field :depreciacao %>
  </div>

  <div class="field">
    <%= form.label :seguro, "Seguro" %>
    <%= form.text_field :seguro %>
  </div>

  <div class="actions">
    <%= form.submit t('utils.save'), :class => "btn btn-save" %>
  </div>
<% end %>
