<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.consts')%></h1>


  <% @consts.each do |const| %>
    <p>
      <strong>Ipva/Dpvat/Licenciamento:</strong>
      <span>R$</span><%= const.ipva_dpvat_licenciamento %>
    </p>

    <p>
      <strong>Manutencao:</strong>
      <span>R$</span><%= const.manutencao %>
    </p>

    <p>
      <strong>Depreciacao:</strong>
      <span>R$</span><%= const.depreciacao %>
    </p>

    <p>
      <strong>Seguro:</strong>
      <span>R$</span><%= const.seguro %>
    </p>

    <div class="button-box">
      <p><%= link_to t('utils.edit'), edit_const_path(const), :class => "btn btn-edit" %></p>
    </div>

  <% end %>
</div>
