<%= render "admin/header" %>

<div class="content">
  <h1><%=t('utils.new')%> <%=t('utils.const')%></h1>

  <%= render 'form', const: @const %>

  <%= link_to t('utils.back'), consts_path, :class => "btn btn-back"  %>
</div>