<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.const')%></h1>

  <p>
    <strong>Ipva/Dpvat/Licenciamento:</strong>
    <%= @const.ipva_dpvat_licenciamento %>
  </p>

  <p>
    <strong>Manutenção:</strong>
    <%= @const.manutencao %>
  </p>

  <p>
    <strong>Depreciacao:</strong>
    <%= @const.depreciacao %>
  </p>

  <p>
    <strong>Seguro:</strong>
    <%= @const.seguro %>
  </p>

  <p>
    <strong>Total com seguro:</strong>
    <span>R$</span><%= @total_com_seguro %>
  </p>

  <p>
    <strong>Total sem seguro:</strong>
    <span>R$</span><%= @total_sem_seguro %>
  </p>

  <%= link_to t('utils.edit'), edit_const_path(@const), :class => "btn btn-edit"  %>
  <%= link_to t('utils.back'), consts_path, :class => "btn btn-back"  %>
</div>
