<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.rent')%></h1>
  <% @rents.each do |rent| %>
    <p>
      <strong>Nome:</strong>
      <%= rent.nome %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= rent.valor %>
    </p>

    <div class="button-box">
      <p><%= link_to t('utils.edit'), edit_rent_path(rent), :class => "btn btn-edit" %></p>
    </div>
  <% end %>
</div>