<%= render "admin/header" %>

<div class="content">
  <h1><%=t('utils.new')%> <%=t('utils.rent')%></h1>

  <%= render 'form', rent: @rent %>

  <%= link_to t('utils.back'), rents_path, :class => "btn btn-back" %>  
</div>