<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.rent')%></h1>

  <p>
    <strong>Nome:</strong>
    <%= @rent.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @rent.valor %>
  </p>

  <%= link_to t('utils.edit'), edit_rent_path(@rent), :class => "btn btn-edit" %>
  <%= link_to t('utils.back'), rents_path, :class => "btn btn-back" %>  
</div>
