<%= stylesheet_link_tag "drivers", "dragdealer", "normalize" %>

<div id="user-view" class="center-hor">
<!-- overlay -->
<div class='overlay'></div>

<!-- header -->
<div class="content-form-header">
  <div class="content-logo center-full">
    <div class="dragdealer-area">
      <div id="btn99" class="dragdealer">
        <div class="handle"></div>
        <div class="content">
          <p>
            Seja um<br/>motorista parceiro.<br/> <span class="font-black">Arraste aqui.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- step start -->
<div class="content-start">
  <div class="center-full accept-alert">
    <hr class="center-hor"/>
    <p>
      Esta funcionalidade permite apenas a realização de uma estimativa, conforme os critérios informados. A
      precisão de tais informações depende de uma série de variáveis, dados e informações. A 99 não garante,
      em hipótese alguma, o recebimento de tais valores. </p>
    <hr class="center-hor"/>
    <div class="btn-black btn-accept-alert center-hor">
      seguir
    </div>
  </div>
  <h1 class="center-hor">
    simule seus ganhos<br/>sendo motorista<br/>parceiro 99 </h1>
  <div class="content center-hor first-img-wrapper">
    <img class="left" src="/assets/content-start/99taxi-left-hand.png" alt="">
    <img class="center" src="/assets/content-start/99taxi-selo.png" alt="">
    <img class="right" src="/assets/content-start/99taxi-right-hand.png" alt="">
  </div>
  <div class="btn-black btn-simulate-now center-hor">
    <span>simule agora</span>
  </div>
</div>


<!-- form -->
<div class="content-form">
<%= simple_form_for @driver do |f| %>
  <%= f.error_notification %>
  
    <!-- step 1 -->
    <div class="step step-1" actual="1">
      <div class="container">
        <h1 class="radio_buttons required">1 - Você é maior de 18 anos?</h1>
        
        <div class="center-hor buttons">
          <span class="radio true">
            <label for="driver_maior_idade_true">
            <input class="radio_buttons required" type="radio" value="true" name="driver[maior_idade]" id="driver_maior_idade_true">
              Sim
            </label>
          </span> 
          <span class="radio false">
            <label for="driver_maior_idade_false">
            <input class="radio_buttons required" readonly="readonly" type="radio" value="false" name="driver[maior_idade]" id="driver_maior_idade_false">                Não
            </label>
          </span>
        </div>
      
      </div>
    </div>
    
    <!-- if step 1 no -->
    <div id="menor_idade" class="menor_idade age-conditional">
      <div class="container">
        <div class="center-hor results">
          <h1 class="center-hor">Resultados</h1>
          <div class="message center-hor">
            <p>
              Você ainda <strong>não pode ser motorista da 99</strong>. Nos procure quando completar
              <strong>18 anos</strong>. </p>
            <p>
              Mas você <strong>pode baixar o app da 99</strong> para chamar um motorista sempre que
              <strong>precisar</strong>. </p>
          </div>
          <div class="image-center">
            <img class="center center-hor" src="/assets/step-1-no/99taxi-center-hands.png" alt="">
          </div>
        
        </div>
        
        <div class="center-hor legal-info">
          <p class="center-hor">
            1 - Valores referentes a viagens feitas em: city_id da cidade. 2 - Custos com manutenção não
            estão considerados nas despesas. 3 - Tarifas dinâmicas não são consideradas para o cálculo
            dos ganhos desse simulador. 4 - Os preços dos combustíveis foram definidos conforme o valor
            médio, de acordo com a tabela: Referência: Gasolina: 4,7 R$/ L Álcool: 3,11 R$/ L GNV: 2,2
            R$/ m3. 5 - O valor de carro alugado foi baseado no preço de parceria com a MOVIDA :
            R$1.399,99 (mês). 6- O valor de custo do carro foi baseado nos cálculos médios abaixo:
            Parâmetros constantes (independem da cidade) ao ano. DESCRIÇÃO. Valor IPVA, DPVAT,
            LICENCIAMENTO R$ 112,00. Manutenção preventiva R$ 79,50. Depreciação. R$ 175,60. Seguro
            (Baseado no seguro do parceiro 99). R$ 180,00. Total R$ 547,10 /12 meses. R$ 45,59. </p>
        </div>
        
        <div class="center-hor bottom-hands">
          <img class="bottom center-hor" src="/assets/step-1-no/99taxi-bottom-hands.png" alt="">
        </div>
      </div>
      <img class="right" src="/assets/step-1-no/99taxi-right-hand.png" alt="">
    
    </div>
  
    <!-- if step 1 yes -->
    <div id="maior_idade" class="age-conditional">

    <!-- step 2 -->
    <div class="step step-2" actual="0">
      <div class="container">
        <h1 class="radio_buttons required">2 - você ja é<br/> um motorista<br/> parceiro da 99?</h1>
    
        <div class="center-hor buttons">
          <span class="radio true">
            <label for="driver_motorista_99_true">
              <input class="radio_buttons required" type="radio" value="true" name="driver[motorista_99]" id="driver_motorista_99_true">Sim
            </label>
          </span> 

          <span class="radio false">
            <label for="driver_motorista_99_false">
              <input class="radio_buttons required" type="radio" value="false" name="driver[motorista_99]" id="driver_motorista_99_false">Não           
            </label>
          </span>
        </div>
    
    <div class="select center-hor">
      <%= f.association :city, :collection => City.order('name ASC'),
      :include_blank => "Em qual cidade?",
      :selected => 0 %>
    </div>

    <!-- values hidden --> 
    </div>    
      <input type="hidden" value="" name="driver[ddd]" id="driver_ddd">
      <input type="hidden" value="" name="driver[celular]" id="driver_celular">
      <input type="hidden" value="" name="driver[email]" id="driver_email">
    </div>
    
    <!-- step 3 -->
    
    <div class="step step-3" actual="0">
    <div class="container weekList">
    <h1 class="radio_buttons required">3 - Informações</h1>
    <h3 class="center-hor">Em quais dias da semana?</h3>
    
						<div class="center-hor days line1">
							<span class="radio" active="0">
                <label for="driver_dom_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[dom]" id="driver_dom_true">
                  dom
                </label>
              </span> 
              <span class="radio" active="0">
                <label for="driver_seg_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[seg]" id="driver_seg_true">
                    seg
                </label>
              </span> 
              <span class="radio" active="0">
                <label for="driver_ter_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[ter]" id="driver_ter_true">
                    ter
                </label>
              </span> 
              <span class="radio" active="0">
                <label for="driver_qua_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[qua]" id="driver_qua_true">
                    qua
                </label>
              </span>
						
						</div>
						
						<div class="center-hor days line2">
							<span class="radio" active="0">
                <label for="driver_qui_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[qui]" id="driver_qui_true">
                    qui
                </label>
              </span> 
              <span class="radio" active="0">
                <label for="driver_sex_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[sex]" id="driver_sex_true">
                    sex
                </label>
              </span> 
              <span class="radio" active="0">
                <label for="driver_sab_true">
                  <input class="radio_buttons required" type="hidden" value="false" name="driver[sab]" id="driver_sab_true">
                    sab
                  </label>
              </span>
              
              </div>
              <input type="hidden" value="" name="driver[qtd_dias_semana]" id="driver_qtd_dias_semana">
              
						<div class="select center-hor hours">
							<select class="required input-field" name="driver[horas_dia]" id="driver_horas_dia">
								<option value="0" selected="selected">Quantas horas por dia?</option>
								<option value="2">2 h/dia</option>
								<option value="3">3 h/dia</option>
								<option value="5">5 h/dia</option>
								<option value="7">7 h/dia</option>
								<option value="8">8 h/dia</option>
								<option value="10">10 h/dia</option>
								<option value="12">12 h/dia</option>
							</select>
						</div>
					</div>
				</div>
      
      <!-- step 4 -->
      <div class="step step-4" actual="0">
        <div class="container">
          <h1 class="radio_buttons required">4 - Automóvel</h1>
          <h3 class="center-hor">Carro:</h3>
          
          <div class="center-hor buttons">
            <span class="radio true">
              <label for="driver_carro_proprio_true">
                <%= f.radio_button :carro_proprio, true, class: 'radio_buttons required' %> 
                  Próprio
              </label>
            </span>
            
            <span class="radio false">
              <label for="driver_carro_proprio_false">
                <%= f.radio_button :carro_proprio, false, class: 'radio_buttons required' %> 
                  Alugado
              </label>
            </span>

          </div>
          
          <div class="select center-hor fuel">
            <select class="required input-field" name="driver[fuel_id]" id="driver_fuel_id">
              <option value="0" selected="selected">Qual o combustível?</option>
              <option value="1">Gasolina</option>
              <option value="2">Álcool</option>
              <option value="3">GNV</option>
            </select>
          </div>
          
          <div class="select center-hor hours">
            <select class="required input-field" name="driver[consumo_medio_combustivel]" id="driver_consumo_medio_combustivel">
              <option value="0">Consumo médio?</option>
              <option value="5">5 km/l</option>
              <option value="7">7 km/l</option>
              <option value="10">10 km/l</option>
              <option value="15">15 km/l</option>
              <option value="20">20 km/l</option>
            </select>
          </div>
        
        </div>
      </div>
      
      <!-- step 5 -->
      <div class="step step-5" actual="0">
        <div class="container">
          <h1 class="radio_buttons required">5 - Para Finalizar</h1>
          <h3 class="center-hor">Possui Seguro?</h3>
          
          <div class="center-hor buttons">
            <span class="radio true">
              <label for="driver_seguro_true">
                <input class="radio_buttons required" type="radio" value="true" name="driver[seguro]" id="driver_seguro_true">Sim
              </label>
            </span>
            
            <span class="radio false">
              <label for="driver_seguro_false">
                <input class="radio_buttons required" type="radio" value="false" name="driver[seguro]" id="driver_seguro_false">Não
              </label>
            </span>

          </div>

          <div class="hidden">
            <%= f.association :rent, collection: Rent.order('id ASC'), label_method: :id, label:'Id', input_html: { class: 'input-field' }, selected: 1 %>
            <%= f.association :const, collection: Const.order('id ASC'), label_method: :id, label:'Id', input_html: { class: 'input-field' }, selected: 1 %>
          </div>
          
          <div class="select center-hor wash">
            <select class="required" name="driver[custo_lavagem_mes]" id="driver_custo_lavagem_mes">
              <option value="0">Lavagens ao mês?</option>
              <option value="30">R$ 30,00</option>
              <option value="40">R$ 40,00</option>
              <option value="60">R$ 60,00</option>
              <option value="80">R$ 80,00</option>
            </select>
          </div>
          
          <div class="select center-hor food">
            <select class="required" name="driver[custo_alimentacao_dia]" id="driver_custo_alimentacao_dia">
              <option value="0">Alimentação diaria?</option>
              <option value="10">R$ 10,00</option>
              <option value="15">R$ 15,00</option>
              <option value="20">R$ 20,00</option>
              <option value="30">R$ 30,00</option>
            </select>
          </div>

          <div class="hidden">
            <%= f.association :rent, collection: Rent.order('id ASC'), label_method: :id, label:'Id', input_html: { class: 'input-field' }, selected: 1 %>
            <%= f.association :const, collection: Const.order('id ASC'), label_method: :id, label:'Id', input_html: { class: 'input-field' }, selected: 1 %>
          </div>

          <!-- submit  form -->
          <%= f.button :submit, "Calcular", class: 'btn-black center-hor', name: 'commit' %>
        </div>
      </div>
    
    </div>
  
  <% end %>
</div>

<nav id="#nav">
  <ul>
    <li class="previous">
      <a id="btn-ant"> < anterior </a>
    </li>
  </ul>
</nav>

<img class="center-step-1 img" src="/assets/step-1/99taxi-center-hand.png" alt="">
<img class="center-step-2 img" src="/assets/step-2/99taxi-center-hand.png" alt="">
<!-- footer -->
<div class="content-form-footer">
  <a href="https://app.appsflyer.com/com.app99.driver?af_siteid=[sas_pageId]&af_ad_id=[sas_creativeId]&af_c_id=[sas_insertionId]&pid=hands_int&c=PD_PAX_OPS_AD_HND_CNV_ALL_BR&af_click_lookback=7d&clickid=[timestamp]" class="download center-hor"></a>
</div>
