<%= render "admin/header" %>

<div class="content">
  <h1><%=t('utils.editing')%> <%=t('utils.driver')%></h1>

  <%= render 'form', driver: @driver %>

  <%= link_to t('utils.back'), drivers_path, :class => "btn btn-back" %>
</div>