<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.drivers')%></h1>


  <% @drivers.each do |driver| %>
    <div class="item-driver">
      <p>
        <strong>Id:</strong>
        <%= driver.id %>
      </p>

      <p>
        <strong>Você tem mais de 18 anos?</strong>
        <%= driver.maior_idade ? 'Sim' : 'Não'%>
      </p>

      <p>
        <strong>É um motorista parceiro da 99?</strong>
        <%= driver.motorista_99 ? 'Sim' : 'Não'%>
      </p>
 
      <p>
        <strong>Em qual cidade você pretende trabalhar?</strong>
        <%= driver.city.name %>
      </p>

      <p>
        <strong>Quantos dias na semana você pretende trabalhar?</strong>
        <%= driver.qtd_dias_semana %>
      </p>

      <p>
        <strong>Quais dias da semana você pretende trabalhar?</strong>

        <% if driver.seg == true %>
           <span>seg</span>
        <% end %>

        <% if driver.ter == true %>
           <span>ter</span>
        <% end %>

        <% if driver.qua == true %>
           <span>qua</span>
        <% end %>

        <% if driver.qui == true %>
           <span>qui</span>
        <% end %>

        <% if driver.sex == true %>
           <span>sex</span>
        <% end %>

        <% if driver.sab == true %>
           <span>sab</span>
        <% end %>

        <% if driver.dom == true %>
           <span>dom</span>
        <% end %>
      </p>

      <p>
        <strong>Quantas horas por dia você pretende trabalhar?</strong>
        <%= driver.horas_dia %>
      </p>

      <p>
        <strong>Tem carro próprio ou alugado?</strong>
        <%= driver.carro_proprio ? 'Próprio' : 'Alugado'%>
      </p>

      <p>
        <strong>Qual é o seu combustível?</strong>
        <%= driver.fuel.nome %>
      </p>

      <p>
        <strong>Consumo médio do seu carro (Km/L ou Km/m3)?</strong>
        <%= driver.consumo_medio_combustivel %>
      </p>

      <p>
        <strong>Seu carro possui seguro?</strong>
        <%= driver.seguro ? 'Sim' : 'Não'%>
      </p>

      <p>
        <strong>Custo médio com lavagem no mês?</strong>
        <span class="moeda">R$</span><%= driver.custo_lavagem_mes %>
      </p>

      <p>
        <strong>Custo médio de alimentação por dia?</strong>
        <span class="moeda">R$</span><%= driver.custo_alimentacao_dia %>
      </p>

      <hr>
    </div>
  <% end %>
</div>
