<%= stylesheet_link_tag "drivers", "dragdealer", "normalize" %>

<div id="user-view">
	
<!-- overlay -->
<div class='overlay'></div>

<!-- header -->
<div class="content-form-header">
  <div class="content-logo center-full">
    <div class="dragdealer-area">
      <div id="btn99" class="dragdealer">
        <div class="handle"></div>
        <div class="content">
          <p>
            Seja um<br/>motorista parceiro.<br/> <span class="font-black">Arraste aqui.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Success -->
  <div id="sucesso" class="success age-conditional">
    <div class="container">
      <div class="center-hor results">
        <h1 class="center-hor">Resultados</h1>
        <ul class="message center-hor">

          <li class="bigger">
            <p class="left">
              Ganhos no<br/>mês sem taxas </p>
            <p class="right">
              R$ <%= @ganhos_mes %>
            </p>
          </li>

          <li class="bigger">
            <p class="left">
              Quanto você<br/>paga de taxa </p>
            <p class="result-percent">
              <%= @driver.city.taxa_99 %>
              %
            </p>
          </li>
          
          <li class="left">Despesas com<br>o carro</li>
          <li class="right">R$ <%= @despesas_carro %> </li>
          <li class="left">Despesa com<br>combustível</li>
          <li class="right">R$ <%= @despesas_combustivel %> </li>
          <li class="left">Despesa com<br>lavagem</li>
          <li class="right">R$ <%= @driver.custo_lavagem_mes %></li>
          <li class="left">Despesa com<br>alimentação</li>
          <li class="right">R$ <%= @alimentacao_mes %></li>
        </ul>
        <div class="center-hor total">
          <p>Líquido no final do mês</p>
          <p class="final-result">R$ <%= @total_liquido %></p>
        </div>
      </div>

      <div class="center-hor">
        <h3 class="center-hor benefits">
          Benefícios </h3>
        <ul class="infos">
          <li>Valor descontado a Remuneração<br/> da 99 pela Intermediação</li>
          <li>Receba seu dinheiro na hora</li>
          <li>Escolha a forma de como<br/>quer receber pelas corridas</li>
        </ul>
        
        <a id="wpp-btn-final" href="whatsapp://send?text=Quer saber quais seriam seus ganhos aproximados dirigindo pela 99? Clique no link a seguir:  https://calc-99-pop.iotads.com.br/">
         <h3 class="center-hor share">Compartilhe com um amigo</h3>
        </a>
          
          
      </div>
      <div class="center-hor legal-info">
        <p class="center-hor">
          1 - Valores referentes a viagens feitas em: <%= @driver.city.name %>. 
          2 - Custos com manutenção não estão
          considerados nas despesas. 3 - Tarifas dinâmicas não são consideradas para o cálculo dos ganhos
          desse simulador. 4 - Os preços dos combustíveis foram definidos conforme o valor médio, de acordo
          com a tabela referência:

          <% @fuel.each do |fuel| %>
            <%= fuel.nome %>        
            <%= fuel.valor %>
            <%= fuel.tipo %> .
          <% end %>

          . 5 - Aluguel de carro:  
          <% @rents.each do |rent| %>
            <%= rent.nome %>        
            <%= rent.valor %> (mês).
          <% end %>
          
          6- O valor de custodo carro foi baseado nos cálculos médios abaixo: Parâmetros constantes (independem da cidade) ao
          ano. DESCRIÇÃO:
          <% @consts.each do |const| %>
           IPAV, DPVAT, LICENCIAMENTO R$<%= const.ipva_dpvat_licenciamento %>        
           Manutenção preventiva R$<%= const.manutencao %>
           Depreciação R$<%= const.depreciacao %> 
           Seguro R$<%= const.seguro %> (Baseado no seguro do parceiro 99).
          <% end %>
          </p>

      </div>
      
      <div class="center-hor bottom-hands">
        <img class="bottom center-hor" src="/assets/step-6/99taxi-bottom-hands.png" alt="">
      </div>
    </div>
    
    <img class="left" src="/assets/step-6/99taxi-left-hand.png" alt="">
    <img class="right" src="/assets/step-6/99taxi-right-hand.png" alt="">

  </div>

  <nav id="#nav">
    <ul>
      <li class="previous">
        <a href="#">< anterior</a>
      </li>
      <li class="next">
        <a href="#">proximo ></a>
      </li>
    </ul>
  </nav>

  <img class="center-step-1 img" src="/assets/step-1/99taxi-center-hand.png" alt="">
  <img class="center-step-2 img" src="/assets/step-2/99taxi-center-hand.png" alt="">
  <!-- footer -->
  <div class="content-form-footer">
    <a class="download center-hor" href="https://app.appsflyer.com/com.app99.driver?af_siteid=[sas_pageId]&af_ad_id=[sas_creativeId]&af_c_id=[sas_insertionId]&pid=hands_int&c=PD_PAX_OPS_AD_HND_CNV_ALL_BR&af_click_lookback=7d&clickid=[timestamp]"></a>
  </div>

</div>

