<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nome"%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :taxa_99 %>
    <%= form.text_field :taxa_99 %>
  </div>

  <div class="field">
    <%= form.label :tph %>
    <%= form.text_field :tph %>
  </div>

  <div class="field">
    <%= form.label :tarifa_base %>
    <%= form.text_field :tarifa_base %>
  </div>

  <div class="field">
    <%= form.label :rs_km %>
    <%= form.text_field :rs_km %>
  </div>

  <div class="field">
    <%= form.label :rs_min %>
    <%= form.text_field :rs_min %>
  </div>

  <div class="field">
    <%= form.label :tarifa_minima %>
    <%= form.text_field :tarifa_minima %>
  </div>

  <div class="field">
    <%= form.label :tempo_medio_corrida %>
    <%= form.text_field :tempo_medio_corrida %>
  </div>

  <div class="field">
    <%= form.label :distancia_pax %>
    <%= form.text_field :distancia_pax %>
  </div>

  <div class="field">
    <%= form.label :distancia_corrida %>
    <%= form.text_field :distancia_corrida %>
  </div>

  <div class="field">
    <%= form.label :asp %>
    <%= form.text_field :asp %>
  </div>

  <div class="actions">
    <%= form.submit t('utils.save'), :class => "btn btn-save"  %>
  </div>
<% end %>
