<%= render "admin/header" %>

<div class="content">
  <h1><%=t('utils.editing')%> <%=t('utils.city')%></h1>

  <%= render 'form', city: @city %>

  <%= link_to t('utils.back'), cities_path, :class => "btn btn-back"%>
</div>


