<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.cities')%></h1>

  <p>
    <strong>Name:</strong>
    <%= @city.name %>
  </p>

  <p>
    <strong>Taxa 99:</strong>
    <%= @city.taxa_99 %>
  </p>

  <p>
    <strong>Tph:</strong>
    <%= @city.tph %>
  </p>

  <p>
    <strong>Tarifa base:</strong>
    <%= @city.tarifa_base %>
  </p>

  <p>
    <strong>Rs km:</strong>
    <%= @city.rs_km %>
  </p>

  <p>
    <strong>Rs min:</strong>
    <%= @city.rs_min %>
  </p>

  <p>
    <strong>Tarifa minima:</strong>
    <%= @city.tarifa_minima %>
  </p>

  <p>
    <strong>Tempo medio corrida:</strong>
    <%= @city.tempo_medio_corrida %>
  </p>

  <p>
    <strong>Distancia pax:</strong>
    <%= @city.distancia_pax %>
  </p>

  <p>
    <strong>Distancia corrida:</strong>
    <%= @city.distancia_corrida %>
  </p>

  <p>
    <strong>Asp:</strong>
    <%= @city.asp %>
  </p>

  <%= link_to t('utils.edit'), edit_city_path(@city), :class => "btn btn-edit" %>
  <%= link_to t('utils.back'), cities_path, :class => "btn btn-back" %>  
</div>
