// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
 * Import normalize to reset user browser agent values
 * Google Fonts
 */
 @import "normalize.css";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Work+Sans:200,300,400,500,700,800,900');
 
 html,
 body,
 .content-form,
 .new_driver {
     width: 100%;
     height: 100%;
     color: #ffffff;
     font-family: 'Work Sans', sans-serif;
 }

 .hidden{
    display: none;
 }

 #wpp-btn-final{
    text-decoration: none;
 }

 .first-img-wrapper{
    height: 206px;
 }

 .result-percent{
    color: #dd5173;
    text-align: right;
    width: 49%;
    display: inline-block;
 }

 .select > label{
    display: none;
 }
 .step-2 .select:before {
     top: 67%;
 }

 .step-5 .driver_custo_alimentacao_dia:before{
    top: 67%;
 }
 
 p {
     margin: 0;
     padding: 0;
 }
 .dragdealer {
     background: transparent !important;
 }

 a,
 a:focus,
 a:hover,
 a:active,
 a:visited {
     font-weight: bold;
     color: #ffffff;
     text-transform: uppercase;
     font-size: 0.8em;
 }
 
 .select {
     width: fit-content;
     text-align: center;
     margin-top: 30px;
 }
 
 .select select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     outline: none;
     border-radius: 40px;
     border: 4px solid #ffffff;
     background-color: #e6e7e8;
     background-image: url("../assets/99taxi-select-bkg.png");
     background-size: 70px;
     background-position: right;
     background-repeat: no-repeat;
     font-family: 'Work Sans', sans-serif;
     font-weight: bold;
     font-size: 1em;
     position: relative;
     height: 55px;
 }
 
 .select select:disabled {
     color: #adadad;
 }
 
 .select:before {
     content: "";
     width: 38px;
     height: 38px;
     border-radius: 50%;
     position: absolute;
     left: 3%;
     top: 50%;
     background: #ffffff;
     z-index: 1;
     transform: translate(0, -50%);
 }
 
 .overlay {
     opacity: 0.75;
     background: #000000;
     width: 100%;
     height: 100%;
     z-index: 100;
     top: 0;
     left: 0;
     position: absolute;
     display: none;
 }
 
 .center-step-1,
 .center-step-2 {
     display: none;
 }
 
 .center-hor {
     left: 50%;
     transform: translate(-50%, 0);
     position: relative;
 }
 
 .center-full {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     position: relative;
 }
 
 .btn-black {
     background: #000000;
     padding: 8px 4px;
     border-radius: 30px;
     border: 4px solid #ffffff;
     color: #ffffff;
 }
 
 #user-view {
     overflow: hidden;
     margin: 0px auto;
     width: 100%;
     height: 100%;
     max-width: 560px;
     min-height: 660px;
     background-color: transparent;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top center;
 }
 
 .content-form-header {
     background: transparent url("../assets/header-bkg.png") no-repeat bottom center;
     word-break: break-word;
     font-size: 22px;
     font-weight: 100;
 }
 
 .content-form-header .content-logo {
     background: #000000;
     width: 70%;
     height: 60px;
     position: relative;
     top: 39%;
     border-radius: 60px;
     border: 4px solid #ffffff;
     text-transform: uppercase;
 }
 
 .content-form-header .content-logo .dragdealer-area {
     width: 97%;
     max-width: 97%;
 }
 
 .content-form-header .content-logo .handle {
     width: 48px;
     height: 48px;
     border-radius: 100%;
     background: transparent url("../assets/99taxi-logo.png") no-repeat top center;
     background-size: cover;
     position: absolute;
     top: 6px;
     left: 6px;
     z-index: 2;
 }
 
 .content-form-header .content-logo .content {
     width: 62%;
     height: 100%;
     position: absolute;
     right: 12%;
     top: 0;
     z-index: 1;
 }
 
 .content-form-header .content-logo .content p {
     font-size: 0.5em;
     line-height: 1.2em;
     font-weight: 300;
     position: relative;
     top: 100%;
     transform: translate(0, -50%);
 }
 
 .content-form-header .content-logo .content span {
     font-weight: bold;
 }
 
 .content-form-footer {
     background: transparent url("../assets/footer-bkg.png") no-repeat top center;
 }
 
 .content-form-header,
 .content-form-footer {
     width: 100%;
     height: 100px;
     background-size: cover;
 }
 
 .content-form-footer {
     position: absolute;
     bottom: 0;
     height: 90px;
 }
 
 .content-form-footer .download {
     width: 60%;
     top: 30%;
     background: transparent url("../assets/footer-downloads.png") no-repeat center center;
     background-size: contain;
     height: 59px;
     display: block;
 }
 
 /**
  * Step Start
  */
 .content-start {
     margin: 0 auto;
     position: relative;
 }
 
 .content-start .accept-alert {
     position: absolute;
     z-index: 101;
     background: #ffffff;
     color: #000000;
     width: 70%;
     padding: 5% 10%;
     display: none;
 }
 
 .content-start .accept-alert hr {
     position: relative;
     margin: 20px 0;
     overflow: hidden;
     width: 70%;
 }
 
 .content-start .accept-alert p {
     text-align: center;
     font-weight: 600;
     font-size: 0.8em;
     word-break: break-word;
     line-height: 1.6em;
 }
 
 .content-start .accept-alert .btn-accept-alert {
     width: 50%;
     text-align: center;
     font-size: 1em;
     text-transform: uppercase;
     font-weight: bold;
 }
 
 .content-start h1 {
     padding: 10px 0;
     text-transform: uppercase;
     font-size: 1.4em;
     width: 50%;
     max-width: 50%;
     margin: 0;
     text-align: center;
 }
 
 .content-start .content {
     width: 100%;
 }
 
 .content-start .content img {
     position: absolute;
 }
 
 .content-start .content img.left {
     width: 25%;
     left: 0;
     top: -8%;
 }
 
 .content-start .content img.center {
     width: 50%;
     top: 16px;
     left: 50%;
     transform: translate(-50%, 0);
 }
 
 .content-start .content img.right {
     width: 25%;
     right: 0;
     top: -34%;
 }
 
 .content-start .btn-simulate-now {
     width: 50%;
     text-align: center;
     font-size: 1em;
     text-transform: uppercase;
     font-weight: bold;
 }
 
 .content-start a.share,
 .content-start a.share:focus,
 .content-start a.share:hover,
 .content-start a.share:active,
 .content-start a.share:visited {
     width: 50%;
     text-align: center;
     margin-top: 16px;
     display: block;
 }
 
 /**
  * Form Steps Prepare
  * Hide all
  */
 .content-form {
     height: 400px;
     margin: 0 auto;
     position: relative;
     display: none;
 }
 
 .success,
 .content-form #menor_idade,
 .content-form #maior_idade {
     display: none;
 }
 
 /**
  * Menu Nav
  */
 
 nav {
     left: 50%;
     transform: translate(-50%, 0);
     position: absolute;
     width: 100%;
     z-index: 100;
 }
 
 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     background-color: #f1f1f1;
 }
 
 nav ul li {
     width: 42%;
 }
 
 nav ul li.previous {
     float: left;
     padding-left: 4%;
 }
 
 nav ul li.next {
     float: right;
     padding-right: 4%;
     text-align: right;
 }
 
 nav ul li a {
     display: none;
     padding: 9px 15px;
     border-radius: 60px;
     border: 2px solid #ffffff;
     text-align: center;
     width: 90px;
 }
 
 /**
  * Steps
  */
 .step {
     margin: 0 auto;
     position: relative;
     display: none;
 }
 
 .step > div > h1 {
     font-size: 1.4em;
     width: 77%;
     display: block;
     margin: 30px 0 0 40px;
     word-break: break-word;
     padding-right: 40px;
     font-weight: bold;
 }
 
 .step > div > h3 {
     color: #000000;
     text-transform: none;
     text-align: center;
     font-weight: bold;
     font-size: 1.4em;
 }
 
 .step {
     text-transform: uppercase;
 }
 
 .step span.radio input[type=radio] {
     display: none;
 }
 
 .step .buttons {
     text-align: center;
     width: 100%;
     height: fit-content;
     margin-top: 50px;
 }
 
 span.radio.true,
 span.radio.false {
     padding: 14px 30px;
     background: #000000;
     border: 4px solid #ffffff;
     font-size: 1.2em;
     font-weight: 800;
     margin: -6px;
     display: inline-block;
 }
 
 span.radio.true {
     border-top-left-radius: 48px;
     border-bottom-left-radius: 48px;
 }
 
 span.radio.false {
     border-top-right-radius: 48px;
     border-bottom-right-radius: 48px;
 }
 
 img.center-step-1 {
     left: 57%;
     transform: translate(-52%, 0);
     position: absolute;
     width: 29%;
 }
 
 img.center-step-2 {
     right: 0;
     position: absolute;
     width: 64%;
 }
 
 .step-2 .select select {
     padding: 12px 8px 12px 52px;
 }
 
 .step-2 .select:before {
     background: #ffffff url("../assets/99taxi-select-pin.png") no-repeat center center;
     background-size: 18px;
 }
 
 .step-2 .buttons {
     margin-top: 30px;
 }
 
 .step-3 > div > h3 {
    margin: 30px 10px 10px 0;
 }
 
 .step-3 .days {
     text-align: center;
     width: 90%;
     height: fit-content;
     margin-top: 30px;
 }
 
 .step-3 .days.line1 span.radio,
 .step-3 .days.line2 span.radio {
     padding: 14px 4.5%;
     background: #009fde;
     border: 4px solid #ffffff;
     font-size: 1.2em;
     font-weight: 800;
     margin: -6px;
     display: inline-block;
     font-family: 'Montserrat', sans-serif;
 
 }
 
 .step-3 .days span.radio.selected {
     background: #e6e7e8;
     -webkit-transition: background 800ms linear;
     -ms-transition: background 800ms linear;
     transition: background 800ms linear;
     color: #000000;
 }
 
 .step-3 .days.line2 span.radio {
     padding: 14px 9%;
 }
 
 .step-3 .days span.radio:first-child {
     border-top-left-radius: 48px;
     border-bottom-left-radius: 48px;
 }
 
 .step-3 .days span.radio:last-child {
     border-top-right-radius: 48px;
     border-bottom-right-radius: 48px;
 }
 
 .step-3 .select select {
     padding: 12px 78px 12px 52px;
 }
 
 .step-3 .select:before {
     background: #ffffff url("../assets/step-3/99taxi-select-clock.png") no-repeat center center;
     background-size: 28px;
 }
 
 .step-4 .buttons,
 .step-5 .buttons {
     margin-top: 0;
 }
 
 .step-4 span.radio.true,
 .step-4 span.radio.false {
     padding: 14px 30px;
 }
 
 .step-4 .select select {
     padding: 12px 78px 12px 52px;
 }
 
 .step-4 .select:before {
     background: #ffffff url("../assets/step-4/99taxi-select-gas.png") no-repeat center center;
     background-size: 20px;
 }
 
 .step-4 .select:last-child:before {
     background: #ffffff url("../assets/step-4/99taxi-select-spent.png") no-repeat center center;
     background-size: 26px;
 }
 
 .step-5 .select select {
     padding: 12px 78px 12px 52px;
 }
 
 .step-5 .wash:before {
     background: #ffffff url("../assets/step-5/99taxi-select-wash.png") no-repeat center center;
     background-size: 20px;
 }
 
 .step-5 .food:before {
     background: #ffffff url("../assets/step-5/99taxi-select-food.png") no-repeat center center;
     background-size: 26px;
 }
 
 .step span.radio.selected {
     background: #e6e7e8;
     -webkit-transition: background 800ms linear;
     -ms-transition: background 800ms linear;
     transition: background 800ms linear;
     color: #000000;
 }
 
 /**
  * Menor Idade
  */

 
 .menor_idade .results {
     margin-top: 18px;
     text-transform: uppercase;
     position: relative;
 }
 
 .menor_idade .results h1 {
     background: #00c7b2;
     color: #ffffff;
     font-weight: bold;
     padding: 10px;
     width: 66%;
     text-align: center;
     border-radius: 40px;
     font-size: 1.2em;
     border: 3px solid #ffffff;
     position: relative;
     margin: 0;
     z-index: 1;
 }
 
 .menor_idade .results .message {
     background: #e6e7e8;
     width: 52%;
     padding: 30px 30px 58px 30px;
     position: relative;
     text-align: left;
     margin-top: -15px;
     z-index: 0;
     border-radius: 9px;
     border: 3px solid #ffffff;
 }
 
 .menor_idade .results .message p {
     color: #000000;
     line-height: 1.7em;
     font-size: 0.96em;
 }
 
 .menor_idade .results .message p:last-child {
     margin-top: 14px;
 }
 
 .menor_idade .results .image-center {
     display: inline-block;
     height: 159px;
     width: 100%;
     position: relative;
     margin-top: -53px;
 }
 
 .menor_idade .results .image-center img.center {
     width: 100%;
     position: absolute;
 }
 
 .menor_idade .legal-info {
     margin-top: 0;
 }
 
 .menor_idade .legal-info p {
     width: 80%;
     color: #000000;
     line-height: 1em;
     font-size: 0.6em;
     font-weight: bold;
     text-align: justify;
     padding: 10px 0;
     border-top: 1px solid #000000;
     border-bottom: 1px solid #000000;
     height: auto;
     display: block;
 }
 
 .menor_idade .bottom-hands {
     height: 150px;
 }
 
 .menor_idade .bottom-hands img.bottom {
     width: 70%;
     left: 52%;
     position: absolute;
     bottom: -30px;
 }
 
 .menor_idade img.right {
     width: 30%;
     right: 0;
     top: -9%;
     position: absolute;
 }
 
 .menor_idade .content-form-footer {
     position: relative;
     bottom: 40px;
 }
 
 
 /**
  * Success
  */
 .success {
    //  height: 800px;
 }
 
 .success .results {
     margin-top: unset;
     position: relative;
 }
 
 .success .results h1 {
     background: #00c7b2;
     color: #ffffff;
     font-weight: bold;
     padding: 10px;
     width: 66%;
     text-align: center;
     border-radius: 40px;
     font-size: 1.2em;
     border: 3px solid #ffffff;
     position: relative;
     margin: 0;
     z-index: 1;
     text-transform: uppercase;
 }
 
 .success .results .message {
     background: #e6e7e8;
     width: 55%;
     padding: 30px 18px 10px 18px;
     position: relative;
     text-align: left;
     margin-top: -15px;
     z-index: 0;
     border-radius: 9px;
     border: 3px solid #ffffff;
     color: #000000;
     font-size: 0.8em;
     list-style: none;
 }
 
 .success .results .message li {
     margin-bottom: 10px;
 }
 
 .success .results .message li.left,
 .success .results .message li.right {
     width: 48%;
     display: inline-block;
 }
 
 .success .results .message li.right {
     text-align: right;
 }
 
 .success .results .message li.bigger {
     width: 100%;
     padding-bottom: 2px;
     border-bottom: 1px solid #00c7b2;
     font-size: 1em;
     font-weight: bold;
 }
 
 .success .results .message li.bigger p.left,
 .success .results .message li.bigger p.right {
     width: 49%;
     display: inline-block;
 }
 
 .success .results .message li.bigger p.right {
     color: #dd5173;
     text-align: right;
 }
 
 .success .results .total {
     width: 50%;
     background: #ffb600;
     display: block;
     padding: 20px 29px;
     border-top: 0;
     border-right: 3px solid #ffffff;
     border-bottom: 3px solid #ffffff;
     border-left: 3px solid #ffffff;
     border-bottom-right-radius: 9px;
     border-bottom-left-radius: 9px;
     position: relative;
     top: -20px;
     color: #000000;
     font-weight: bold;
 }
 
 .success .results .total p:first-child {
     color: #dd5173;
     font-size: 0.85em;
     text-align: center;
 }
 
 .success .results .total p:last-child {
     text-transform: uppercase;
     font-size: 1.7em;
     text-align: center;
 }
 
 .success h3 {
     font-weight: bold;
     padding: 8px;
     width: 70%;
     text-align: center;
     border-radius: 40px;
     font-size: 0.9em;
     border: 3px solid #ffffff;
     position: relative;
     margin: 0;
     z-index: 1;
     text-transform: uppercase;
 }
 
 .success h3.benefits {
     background: #ffb600;
     color: #000000;
 }
 
 .success .infos {
     width: 80%;
     list-style: none;
     color: #000000;
     text-align: center;
     font-weight: 600;
 }
 
 .success .infos li {
     margin-bottom: 14px;
 }
 
 .success .infos li:before {
     content: "";
     width: 6px;
     height: 6px;
     background: #000000;
     border-radius: 50%;
     position: absolute;
     margin-left: -11px;
     margin-top: 6px;
 }
 
 .success .infos li:after {
     content: "";
     width: 22px;
     position: absolute;
     z-index: 1;
     background: transparent url("../assets/step-6/99taxi-select-check.png") no-repeat center center;
     background-size: 18px;
     height: 15px;
     margin-left: -3px;
 }
 
 .success h3.share {
     background: #000000;
     color: #ffffff;
     margin-bottom: 20px;
 }
 
 .success .legal-info {
     margin-top: 0;
 }
 
 .success .legal-info p {
     width: 80%;
     color: #000000;
     line-height: 1em;
     font-size: 0.6em;
     font-weight: bold;
     text-align: justify;
     padding: 10px 0;
     border-top: 1px solid #000000;
     border-bottom: 1px solid #000000;
     height: auto;
     display: block;
 }
 
 .success .bottom-hands {
     height: 180px;
 }
 
 .success .bottom-hands img.bottom {
     width: 70%;
     left: 52%;
     position: absolute;
     bottom: -10px;
 }
 
 .success img.right {
     width: 26%;
     right: 0;
     top: 5%;
     position: absolute;
 }
 
 .success img.left {
     width: 22%;
     left: 0;
     top: 38%;
     position: absolute;
 }
 
 .success .content-form-footer {
     position: relative;
 }
 
 /**
  * Calculate Submit
  */
 input[name="commit"] {
     margin-top: 20px;
     text-transform: uppercase;
     padding: 10px 49px;
     font-size: 1.4em;
     font-weight: bold;
 }
 
 /**
  * Screen Adjustments
  * Only 360px
  */
 @media only screen and (max-device-width: 360px) {
 
     .content-star {
         padding-bottom: 0;
     }
 
     .menor_idade .legal-info {
         margin-top: -20px;
     }
 
     .menor_idade .bottom-hands {
         height: 150px;
     }
 
 }