.hidden {
  display: none
}

.content-form {
  width: 50%;
  margin: 0 auto
}

.input>* {
  max-width: 600px
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

html {
  line-height: 1
}

ol,
ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle
}

q,
blockquote {
  quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

*,
*:before,
*:after {
  box-sizing: border-box
}

#body-admin {
  background-color: #ffffff;
  font-size: 12px
}

#body-admin h1,
h2,
h3 {
  font-weight: normal
}

#body-admin strong {
  font-weight: bold
}

#body-admin a {
  text-decoration: none
}

#body-admin body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  font-size: 13px;
  line-height: 18px
}

:root {
  --st-yellow: #FFDD00;
  --st-orange: #FFB400;
  --st-orange-2: #FF9506;
  --st-orange-3: #FF8200;
  --st-orange-4: #FF5A00;
  --nd-blue: #009EDB;
  --nd-green: #B6C019;
  --nd-pink: #FF547E;
  --nd-acqua: #00C6B1;
  --black: #2f2f2f;
  --white: #ffffff;
  --padding: 20px 40px
}

#body-admin .hidden {
  display: none
}

#body-admin .content {
  width: 60%;
  display: inline-block;
  margin: 2% 0% 20% 35%
}

#body-admin .content h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 5vh 0vh 7vh 0vh
}

#body-admin .content p {
  margin-bottom: 5px
}

#body-admin .item-driver {
  width: 100%;
  display: inline-block;
  margin: 5px 0px
}

#body-admin .item-driver hr {
  margin-top: 15px;
  display: inline-block;
  width: 100%
}

#body-admin #fields th {
  width: 10%
}

#body-admin .dados-variaveis {
  width: 30%;
  height: 100vh;
  background-color: var(--st-yellow);
  position: fixed;
  left: 0;
  padding-top: 5vh
}

#body-admin .dados-variaveis a {
  width: 100%;
  padding: var(--padding);
  color: var(--black);
  display: inline-block
}

#body-admin .login-infos a {
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  bottom: -3px
}

#body-admin .field {
  margin: 10px 0px
}

#body-admin .field label {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px
}

#body-admin .field input {
  padding: 5px
}

#body-admin td,
#body-admin th {
  padding: 0px 10px 10px 0px;
  display: inline
}

#body-admin thead {
  display: inline-block;
  margin-bottom: 5%
}

#body-admin th {
  font-weight: bold
}

#body-admin .button-box p {
  display: inline-block
}

#body-admin .btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  display: inline-block;
  margin: 10px 10px 10px 0px
}

#body-admin .btn-new,
#body-admin .btn-save {
  background: #1cb841
}

#body-admin .btn-delete {
  background: #ca3c3c
}

#body-admin .btn-edit {
  background: #df7514
}

#body-admin .btn-back,
#body-admin .btn-show {
  background: #42b8dd
}

#body-admin .content-form {
  width: 50%;
  margin: 0 auto
}

#body-admin .input>* {
  max-width: 600px
}

.text-home {
  width: 70%;
  line-height: 150%
}

#devise-login {
  width: 400px;
  background-color: var(--st-yellow);
  margin: 0 auto;
  text-align: center;
  padding: 2em
}

#devise-login label,
#devise-login input[type='email'],
#devise-login input[type='password'],
#devise-login span {
  display: inline-block;
  width: 70%;
  text-align: left
}

#devise-login label {
  margin: 5px 0px 0px 0px
}

#devise-login input[type='email'],
#devise-login input[type='password'] {
  margin: 5px 0px 10px 0px
}

#devise-login span {
  margin-bottom: 10px
}

#devise-login input[type='submit'] {
  background-color: var(--black);
  border: 0px
}

#devise-login a {
  color: var(--black)
}