<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.fuels')%></h1>


  <% @fuels.each do |fuel| %>
    <p>
      <strong>Nome:</strong>
      <%= fuel.nome %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= fuel.valor %><%= fuel.tipo %>
    </p>

    <div class="button-box">
      <p><%= link_to t('utils.show'), fuel, :class => "btn btn-show"  %></p>

      <p><%= link_to t('utils.edit'), edit_fuel_path(fuel), :class => "btn btn-edit"  %></p>

    </div>
  <% end %>


  <%= link_to t('utils.new'), new_fuel_path, :class => "btn btn-new" %>
</div>
