<%= render "admin/header" %>

<div class="content">
  <h1><%=t('utils.new')%> <%=t('utils.fuel')%></h1>

  <%= render 'form', fuel: @fuel %>

  <%= link_to t('utils.back'), fuels_path, :class => "btn btn-back" %>
</div>