<%= render "admin/header" %>

<div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%=t('utils.fuel')%></h1>

  <p>
    <strong>Nome:</strong>
    <%= @fuel.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @fuel.valor %><%= @fuel.tipo %>
  </p>

  <%= link_to t('utils.edit'), edit_fuel_path(@fuel), :class => "btn btn-edit" %>
  <%= link_to t('utils.back'), fuels_path, :class => "btn btn-back" %>
</div>