<!DOCTYPE html>
<html>
  <head>
    <title>99</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#ffb600">
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body-user">
    <%= yield %>
  </body>
</html>
